<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>

    <script>
        function createClient() {
            const name = document.getElementById('name');
            const street = document.getElementById('street');
            const phones = document.getElementById('phones');

            console.log(name.value)

            fetch('/clients', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: name.value,
                    address: street.value,
                    phones: phones.value,
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error!`);
                    }
                    return response.text();
                })
                .then(data => {
                    console.log(data);
                    window.location.href = "/clients";
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</head>

<body>
<div class="top">
    <h4>Создать клиента</h4>
    <br/>
    <form action="/clients" method="post">
        <label> Имя:<br/>
            <input id="name" type="text" name="name">
        </label>
        <br/>
        <label>Адрес:<br/>
            <input id="street" type="text" name="street">
        </label>
        <br/>
        <label>Телефоны (через ","):<br/>
            <input id="phones" type="text" name="phones">
        </label>
        <br/>
        <input type="button" onclick="createClient()" value="Добавить клиента">
    </form>
</div>
<br/>

<h4>Список клиентов</h4>
<table style="width: 700px" class="clients">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 250px">Адрес</td>
        <td style="width: 250px">Телефоны</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.street}"></td>
        <td>
                <span th:each="phone : ${client.phones}">
                    <div th:text="${phone.number}"></div>
                </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>