
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
</head>

<body>
<div class="top">
    <h4>Создать клиента</h4>
    <br/>
    <form action="/clients" method="post">
        <label>Имя:</label>
        <input type="text" name="name">
        <br/>
        <label>Адрес:</label>
        <input type="text" name="street">
        <br/>
        <label>Телефоны (через ","):</label>
        <input type="text" name="phones">
        <br/>
        <input type="submit" value="Добавить">
        <br/>
    </form>
</div>
<br/>
<div class="top">
    <h4>Список клиентов</h4>
    <table style="width: 700px">
        <thead>
        <tr>
            <td style="width: 50px">Id</td>
            <td style="width: 150px">Имя</td>
            <td style="width: 250px">Адрес</td>
            <td style="width: 250px">Телефоны</td>
        </tr>
        </thead>
        <tbody>
        <#list clients as client>
        <tr>
            <td>${client.id}</td>
            <td>${client.name}</td>
            <td>${client.address.street}</td>
            <td>
                <#list client.phones as phone>
                <div>${phone.number}</div>
            </#list>
            </td>
        </tr>
        </#list>
        </tbody>
    </table>
</body>
</html>
